
/*=======================Css Variables=====================*/

:root{
   --header-height: 6rem;

/*========Colors========*/

   --hue-color: 230;

/*==========Hxl color mode================*/
   --first-color:hsl(var(--hue-color),69%,61%);
   --color-white: #fff;
   --first-color-second:hsl(var(--hue-color),69%,61%);
   --first-color-alt:hsl(var(--hue-color),57%,53%);
   --first-color-lighter:hsl(var(--hue-color),92%,85%);;
   --title-color:hsl(var(--hue-color),8%,15%);
   --text-color:hsl(var(--hue-color),8%,45%);
   --text-color-light:hsl(var(--hue-color),8%,65%);
   --input-color:hsl(var(--hue-color),70%,96%);
   --body-color:hsl(var(--hue-color),60%,99%);
   --container-color:#fff;

/*===============FONTS======================*/
   --body-font:'poppins', sans-serif;

}

 *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 .cover-img{
  width: 100%;
  height: 53vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('../images/building.jpg')no-repeat;
	background-position: center;
	background-size: fill;
  object-fit: cover;
	animation:  changeBackground 30s ease-in infinite;
}


@keyframes changeBackground{
	0%{
		background: url('../images/just-daisy-BlCJi8walFQ-unsplash.jpg')no-repeat;
		background-position: center;
		background-size: fill;
		object-fit: contain;
		background-repeat: no-repeat;
	
	

	}

	30%{
		background: url('../images/wander-fleur-1lmGTHdQdjM-unsplash.jpg')no-repeat;
		background-position: center;
		background-size: fill;
		object-fit: contain;
		background-repeat: no-repeat;

	}

	60%{
		background: url('../images/school_bulding.jpg')no-repeat;
		background-position: center;
		background-size: fill;
		object-fit: contain;
		background-repeat: no-repeat;

	}

	100%{
		background: url('../images/just-daisy-BlCJi8walFQ-unsplash.jpg')no-repeat;
		background-position: center;
		background-size: fill;
		object-fit: contain;
		background-repeat: no-repeat;
	}
}



 .dashboard_heading{
    padding: 1% 4%;
    font-size: 34px;
    color: var(--first-color);
    width: 20%;
 }

 .welcome_admin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 }

 .welcome_admin_message{
    width: 80%;
    display: flex;
    align-items: center;
    background-color: var(--first-color);
    color: var(--color-white);
    padding: 20px;
    margin: 15px 0px;
    border-radius: 5px;
 }

 .welcome_admin_message h1{
    margin: 0px 10px;
 }

 .welcome_admin .admin_name{
   font-size: 35px;
   color: var(--color-white);
 }

 .welcome_admin .current_date{
   font-size: 35px;
   margin-left: 200px;
 }

 .dashboard .cover-img img{

   width: 100%;
   height: 40vh;
   object-fit: cover;
 }

 
 .dashboard .cover-img .text{
   position: absolute;
   top: 30%;
   left: 30%;
 }

 .dashboard .cover-img .text h1{
   font-size: 70px;
 }

 .dashboard .cover-img .text p{
   font-size: 23px;
 }

 .all-info{
   background-color: #f0f1f3;
 }

 .all-info .row{
   display: flex;
   width: 96%;
   margin: auto;
   justify-content: space-between;
 }

 .all-info .row .col{
   width: 24%;
 }

 .all-info .row .col .card{
   width: 100%;
   margin: 6% 0px;
 }

 .all-info .row .col .card .teacher-inner,
 .all-info .row .col .card .library-inner{
   display: flex;
   background-color: var(--first-color);
   padding: 10px 0px;
 }

 .all-info .row .col .card .teacher-inner .column,
 .all-info .row .col .card .accountants-inner .column,
 .all-info .row .col .card .parents-inner .column,
 .all-info .row .col .card .stuff-inner .column,
 .all-info .row .col .card .library-inner .column,
 .all-info .row .col .card .notice-inner .column,
 .all-info .row .col .card .student-inner .column
 {
   width: 49%;
 }

 .all-info .row .col .card .teacher-inner .column-left,
 .all-info .row .col .card .accountants-inner .column-left,
 .all-info .row .col .card .parents-inner .column-left,
 .all-info .row .col .card .stuff-inner .column-left,
 .all-info .row .col .card .library-inner .column-left,
 .all-info .row .col .card .notice-inner .column-left,
 .all-info .row .col .card .student-inner .column-left{
   display: flex;
   align-items: center;
   padding: 0px 10px;
 }

 .all-info .row .col .card .teacher-inner .column-left h1,
 .all-info .row .col .card .accountants-inner .column-left h1,
 .all-info .row .col .card .parents-inner .column-left h1,
 .all-info .row .col .card .stuff-inner .column-left h1,
 .all-info .row .col .card .library-inner .column-left h1,
 .all-info .row .col .card .notice-inner .column-left h1,
 .all-info .row .col .card .student-inner .column-left h1{
   font-size: 60px;
 }

 .all-info .row .col .card .teacher-inner .column-right,
 .all-info .row .col .card .accountants-inner .column-right,
 .all-info .row .col .card .parents-inner .column-right,
 .all-info .row .col .card .stuff-inner .column-right,
 .all-info .row .col .card .library-inner .column-right,
 .all-info .row .col .card .notice-inner .column-right,
 .all-info .row .col .card .student-inner .column-right{
   display: flex;
   align-items: center;
   justify-content: flex-end;
 }


 .all-info .row .col .card .teacher-inner .column-right .fa-chart-bar,
 .all-info .row .col .card .accountants-inner .column-right .fa-hotel,
 .all-info .row .col .card .parents-inner .column-right .fa-users,
 .all-info .row .col .card .stuff-inner .column-right .fa-bus,
 .all-info .row .col .card .library-inner .column-right .fa-book-open-reader,
 .all-info .row .col .card .student-inner .column-right .fa-user-plus,
 .all-info .row .col .card .notice-inner .column-right .fa-calendar-days,
 .all-info .row .col .card .attendance-inner .column-right .fa-graduation-cap
 {
   font-size: 80px;
   color: #ccc;
   padding: 0px 7px;
   opacity: 0.4;
 }

 .all-info .row .col .card .teacher-footer,
 .all-info .row .col .card .library-footer{
   text-align: center;
   padding: 5px 0px;
   background-color: var(--first-color);
 }

 .all-info .row .col .card .teacher-footer a,
 .all-info .row .col .card .attendance-footer a,
 .all-info .row .col .card .accountants-footer a,
 .all-info .row .col .card .stuff-footer a,
 .all-info .row .col .card .parents-footer a,
 .all-info .row .col .card .library-footer a,
 .all-info .row .col .card .notice-footer a,
 .all-info .row .col .card .student-footer a{
   text-decoration: none;
   color: #ccc;
 }

 .all-info .row .col .attendance-inner,
 .all-info .row .col .parents-inner{
   display: flex;
   background-color: orange;
   padding: 10px 0px;
 }

 .all-info .row .col .card .attendance-inner .column{
   width: 50%;
  /* border: 1px solid green; */
 }

 .all-info .row .col .card .attendance-inner .column-left{
   display: flex;
   align-items: center;
   padding: 0px 10px;
 }

 .all-info .row .col .card .attendance-inner .column-left h1{
   font-size: 60px;
 }

 .all-info .row .col .card .attendance-inner .column-right{
   display: flex;
   align-items: center;
   justify-content: flex-end;
 }

 .all-info .row .col .card .attendance-footer,
 .all-info .row .col .card .parents-footer{
   text-align: center;
   padding: 5px 0px;
   background-color: orange;
 }

/*======= Student and accountants css ======== */
 .all-info .row .col .card .student-inner,
 .all-info .row .col .card .notice-inner{
   display: flex;
   background-color: rgb(168, 46, 67);
   padding: 10px 0px;
 }

 .all-info .row .col .card .student-footer,
 .all-info .row .col .card .notice-footer{
   text-align: center;
   padding: 5px 0px;
   background-color: rgb(168, 46, 67);
 }

 .all-info .row .col .card .accountants-inner,
 .all-info .row .col .card .stuff-inner
 {
   display: flex;
   background-color: rgb(30, 199, 120);
   padding: 10px 0px;
 }

 .all-info .row .col .card .accountants-footer,
 .all-info .row .col .card .stuff-footer{
   text-align: center;
   padding: 5px 0px;
   background-color:  rgb(30, 199, 120);
 }

 /*===== Chart CSS ====== */
.chart_left canvas,
.chart_right canvas{
    width: 400;
    height: 400;
}
